<div class="text-left">
  <p>Reference Picture: </p>
</div>
   <%= image_tag @project.photos[1], alt: "Project photo", class: "ceramics img-fluid px-5" %>
   <div class="text-left pt-3">
      <p>3D modelling: </p>
   </div>
  <%= image_tag @project.photos[0], alt: "Project photo", class: "ceramics img-fluid px-5 pb-5" %>
