<div class="mb-5">
  <% @project.photos.each do |photo| %>
    <%= image_tag photo, alt: "Project photo", class: "club-paradiso img-fluid mt-3" %>
  <% end %>

  <% @project.videos.each do |video| %>
    <%= video_tag video, controls: false, autoplay: true, loop: true, class: "img-fluid mt-3" %>
  <% end %>
</div>

