
<%= image_tag @project.photos[1], alt: "Project photo", class: "penguins img-fluid mt-5 mb-5" %>

<div class="video-container mb-5">
  <iframe
    src="https://player.vimeo.com/video/697848557"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture"
    allowfullscreen>
  </iframe>
</div>
