.name-and-title {
  margin-top: 10% !important;
  padding-bottom: 15% !important;

}
.site-sidebar {
  min-width: 19%;
  background-color: #31313179;
  margin-left: 2%;
  padding-left: 2% !important;
  display: flex;
  flex-direction: column;
  overflow: auto;
  /* justify-content: space-between; */
  // margin-right: 2% !important;
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.title {
  white-space: nowrap;
}

.vertical-bar {
  width: 1px;
  height: 60px;
  background-color:  rgb(0, 191, 255);
  margin-right: 15px;
  box-shadow: 0 0 8px rgba(0, 191, 255, 0.8),
  0 0 12px rgba(0, 191, 255, 0.6);

transition: box-shadow 0.3s ease-in-out;
}


.social-icon i {
  color: rgba(255, 255, 255, 0.638);
  transition: color 0.3s ease-in-out;
}

.social-icon:hover i {
  color: rgb(0, 200, 255);
}
