<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center mb-4">Let's talk!</h1>
            <form action="mailto:simonminekoza@gmail.com" method="POST" enctype="text/plain">
                <div class="mb-4">
                    <p class="form-label">Your Email</p>
                    <input type="email" class="form-control bg-black" id="email" name="email" required>
                </div>
                <div class="mb-4">
                    <p class="form-label">Message</p>
                    <textarea class="form-control" id="message" name="message" rows="1" required></textarea>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary mt-3 py-3 w-50">Send Email</button>
                </div>
            </form>
        </div>
    </div>
</div>
