<div  class="d-flex align-items-center justify-content-between">
   <div class="position-absolute bottom-0 start-0 mx-4 mb-2">
        <p>Contact: <a href="mailto:simonminekoza@gmail.com" class="text-white">simonminekoza@gmail.com</a></p>
    </div>
    <div class="position-absolute bottom-0 end-0 d-flex p-4">
      <a href="https://www.instagram.com/kentakozamine/" target="_blank" class="social-icon">
          <i class="fab fa-instagram fa-xl"></i>
      </a>
      <a href="https://github.com/mimi8887" target="_blank" class="social-icon">
          <i class="fab fa-github fa-xl"></i>
      </a>
      <a href="https://www.linkedin.com/in/simone-mine-koza/" target="_blank" class="social-icon">
          <i class="fab fa-linkedin fa-xl"></i>
      </a>
  </div>
</div>
