<%# Sidebar %>
  <div class="site-sidebar">
    <div class="top-elements">
      <div class="name-and-title d-flex align-items-center pt-5 pb-5">
        <!-- <div class="image-icon">
                        <img src="images/KyubeyMadokaMagica.png" alt="Kyubey" class="rounded-circle">
                    </div> -->
        <div class="vertical-bar"></div>
        <div class="title flex-grow-1">
          <h1>SIMONE MINE KOZA</h1>
          <h3>WEB DEVELOPER / 3D ARTIST</h3>
        </div>
      </div>
      <ul>
        <li><h2><%= link_to "HOME", root_path %></h2></li>
        <li><h2><%= link_to "3D WORKS", projects_path %></h2></li>
        <li><h2>MOBILE APPLICATIONS</h2></li>
        <li><h2><%= link_to "VFX SHOWREEL", showreel_path %></h2></li>
        <li><h2>RESUME</h2></li>
        <li><h2>CONTACT</h2></li>
      </ul>
    </div>
    <div class="bottom elements mt-auto pb-4">
      <div class="d-flex align-items-center gap-4">
        <a
          href="https://www.instagram.com/kentakozamine/"
          target="_blank"
          class="social-icon"
        >
          <i class="fab fa-instagram fa-xl"></i>
        </a>
        <a
          href="https://github.com/mimi8887"
          target="_blank"
          class="social-icon"
        >
          <i class="fab fa-github fa-xl"></i>
        </a>
        <a
          href="https://www.linkedin.com/in/simone-mine-koza/"
          target="_blank"
          class="social-icon"
        >
          <i class="fab fa-linkedin fa-xl"></i>
        </a>
      </div>
    </div>
  </div>
