<div class="container">
  <div class="d-flex justify-content-between w-100">
    <div>
      <h4>Simone Mine Koza</h4>
      <h2>Web Developer/3D Generalist</h2>
      <h2><i class="fas fa-map-marker-alt"></i> Berlin, Germany</h2>
      <h2><i class="fas fa-envelope"></i> <a href="simonminekoza@gmail.com">simonminekoza@gmail.com</a>
</h2>
    </div>
    <div>
      <h2>I am a professional 3D artist with two years of experience in the creative industry.
       Through my work with various software, I discovered a passion for coding,
        which led me to pursue a full-stack-web development bootcamp. I now work as fullstack developer,
         both working on creating a user-friendly front-end interface and challenging backend programming.
          I am naturally curious, always eager to collaborate with others to work on innovating and creative projects.</h2>
    </div>
  </div>
</div>
