<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="name">
        <h4>Simone Mine Koza</h4>
        <h2>Web Developer/3D Generalist</h2>
        <h2><i class="fas fa-map-marker-alt"></i> Berlin, Germany</h2>
        <h2><i class="fas fa-envelope"></i>
          <a href="mailto:simonminekoza@gmail.com">simonminekoza@gmail.com</a>
        </h2>
      </div>
    </div>
    <div class="col-md-8">
      <div class="cv">
        <p>I am a professional 3D artist with two years of experience in the creative industry, now working as a full-stack web developer.
           I enjoy working on challenging projects while bringing my unique touch of aesthetic</p>

       <%# <h5 class="mt-5 px-0">3D Skills</h5>

       <div class=" d-flex align-items-center mt-3">
       <p class="skills">3D modeling</p>
       <p class="skills">Rigging</p>
       <p class="skills">Character Modeling</p>
       <p class="skills">Environmental Modeling</p>
       </div>

       <div class=" d-flex align-items-center">
       <p class="skills">Texturing</p>
       <p class="skills">Lighting</p>
       <p class="skills">Motion Capture</p>
       <p class="skills">Photogrammetry</p>
       <p class="skills">Physics</p>
       </div> %>

    <h5 class="mt-5 px-0">Softwares</h5>
      <div class="tech-icons">
        <i class="si si-blender"></i>
        <i class="si si-unity"></i>
        <i class="si si-davinciresolve"></i>
        <i class="si si-xcode"></i>
      </div>

       <h5 class="mt-2 px-0">Programming Skills</h5>

      <div class="tech-icons">
        <i class="si si-html5" style="font-size: 40px;"></i>
        <i class="si si-sass" style="font-size: 40px;"></i>
        <i class="si si-javascript" style="font-size: 40px;"></i>
        <i class="si si-ruby" style="font-size: 40px;"></i>
        <i class="si si-rails" style="font-size: 40px;"></i>
        <i class="si si-python" style="font-size: 40px;"></i>
        <i class="si si-c" style="font-size: 40px;"></i>
        <i class="si si-mysql" style="font-size: 40px;"></i>
        <i class="si si-git" style="font-size: 40px;"></i>
        <i class="si si-github" style="font-size: 40px;"></i>
        <i class="si si-figma" style="font-size: 40px;"></i>
        <i class="si si-heroku" style="font-size: 40px;"></i>
      </div>

      <h5 class="mt-5 px-0">Experience</h5>

      <h2>Freelance work as 3D artist</h2>





      </div>
      </div>
    </div>
  </div>
</div>
