<div class="container w-100">
  <div class="row">
    <div class="col-md-4">
      <div class="name">
        <h1>Simone Mine Koza</h1>
        <p>Web Developer/3D Generalist</p>
        <p class="mb-0"><i class="fas fa-map-marker-alt"></i> Berlin, Germany</p>
        <p><i class="fas fa-envelope"></i>
          <a href="mailto:simonminekoza@gmail.com" class="no-style">simonminekoza@gmail.com</a>
        </p>
      </div>
    </div>
    <div class="col-md-8">
      <div class="cv w-100">
   <h5 class="mt-5 px-0">3D Softwares</h5>
      <div class="tech-icons">
        <i class="si si-blender"></i>
        <i class="si si-unity"></i>
        <i class="si si-davinciresolve"></i>
        <i class="si si-xcode"></i>
      </div>

       <h5 class="mt-2 px-0">Programming Skills</h5>

      <div class="tech-icons">
        <i class="si si-html5" style="font-size: 40px;"></i>
        <i class="si si-sass" style="font-size: 40px;"></i>
        <i class="si si-javascript" style="font-size: 40px;"></i>
        <i class="si si-ruby" style="font-size: 40px;"></i>
        <i class="si si-rails" style="font-size: 40px;"></i>
        <i class="si si-python" style="font-size: 40px;"></i>
        <i class="si si-c" style="font-size: 40px;"></i>
        <i class="si si-mysql" style="font-size: 40px;"></i>
        <i class="si si-git" style="font-size: 40px;"></i>
        <i class="si si-github" style="font-size: 40px;"></i>
        <i class="si si-figma" style="font-size: 40px;"></i>
        <i class="si si-heroku" style="font-size: 40px;"></i>
      </div>
      </div>
      </div>
    </div>
  </div>
</div>
