<div class="container w-100">
  <div class="row">
    <div class="col-md-4">
      <div class="name">
      <%= image_tag "IMG_4307.JPEG", class: "profile-pic rounded-circle mx-4", style: "width: 150px; height: 150px; object-fit: cover;"%>

        <h1 class="mt-3">Simone Mine Koza</h1>
        <p>Web Developer/3D Generalist</p>
        <p class="mb-0"><i class="fa-solid fa-earth-americas"></i> English, Deutsch, Francais, 日本語</p>
        <p class="mb-0"><i class="fas fa-map-marker-alt"></i> based in Berlin, Germany</p>
        <p><i class="fas fa-envelope"></i>
          <a href="mailto:simonminekoza@gmail.com" class="no-style">simonminekoza@gmail.com</a>
        </p>
      </div>
    </div>
    <div class="col-md-8">
      <div class="cv w-100">

      <h1>Education</h1>
      <h2 class="mt-4">Web Development Bootcamp, Le Wagon Berlin</h2>
      <p>October 2024 - December 2024</p>
      <h2 class="mt-4">HFBK Hamburg, Time Based Media department</h2>
      <p>October 2019 - February 2022</p>

   <h1 class="mt-5 px-0">3D Softwares</h1>
      <div class="tech-icons">
        <i class="si si-blender"></i>
        <i class="si si-unity"></i>
        <i class="si si-davinciresolve"></i>
        <i class="si si-xcode"></i>
      </div>

       <h1 class="mt-2 px-0">Programming Skills</h1>

      <div class="tech-icons">
        <i class="si si-html5" style="font-size: 40px;"></i>
        <i class="si si-sass" style="font-size: 40px;"></i>
        <i class="si si-javascript" style="font-size: 40px;"></i>
        <i class="si si-ruby" style="font-size: 40px;"></i>
        <i class="si si-rails" style="font-size: 40px;"></i>
        <i class="si si-python" style="font-size: 40px;"></i>
        <i class="si si-c" style="font-size: 40px;"></i>
        <i class="si si-mysql" style="font-size: 40px;"></i>
        <i class="si si-git" style="font-size: 40px;"></i>
        <i class="si si-github" style="font-size: 40px;"></i>
        <i class="si si-figma" style="font-size: 40px;"></i>
        <i class="si si-heroku" style="font-size: 40px;"></i>
      </div>

      </div>
      </div>
    </div>
  </div>
</div>
