<div data-controller="threejs" id="canvas" class="w-100"></div>

<div class="overlay-content position-absolute start-0 end-0 d-flex justify-content-end align-items-center flex-grow-1">
     <div class="intro-box p-5 rounded">
            <p>Hi! I'm Simone, a Berlin-based Artist and Developer. With three years of experience in the creative industry as a 3D artist,
            I'm passionate about creating unique, interactive web experiences.</p>
            <p>I'm open to opportunities in 3D modeling, animation, web development, and other services.
            </p>
        </div>
</div>
