<div data-controller="threejs" id="canvas" class="w-100"></div>
<div class="d-flex justify-content-end align-items-center flex-grow-1 vh-100">
     <div class="intro-box p-5 rounded">
            <p>Hi! I'm Simone Mine Koza, a Berlin-based web developer with a background in 3D art.
            With three years of experience in the creative industry as a 3D artist,
            I'm passionate about creating unique, interactive web experiences.</p>
            <p>I'm open to opportunities in 3D modeling, animation, web development, and other services.
            </p>
        </div>

</div>
