<div data-controller="threejs" id="canvas" class="w-100"></div>

<div class="overlay-content position-absolute start-0 end-0 d-flex justify-content-end align-items-center flex-grow-1">
     <div class="intro-box p-5 rounded">
            <p>My name is Simone, I am a developer based in Berlin
             with three years of experience as a 3D/VFX artist.</p>
            <p>I'm open to opportunities in 3D modeling, animation, AR, web/app development, or any fun and creative project!
            </p>
        </div>
</div>
