<div class="container-fluid flex-grow-1 d-flex mt-4 pt-5">
  <div class="row w-100">
      <div class="col-md-4 col-12 px-5 mt-3">
        <div class="description">
          <p class="bold">Assets</p>
          <p>Designed and optimized 3D models using Blender for animations, film, and project proposals.</p>
          <p>Choose a project and interact with the 3D model!</p>
        </div>
      </div>
      <div class="col-md-8 col-12">
        <div class="horizontal-bar"></div>
          <div class="row">
            <% @projects.each_slice(2) do |projects_group| %>
              <div class="row">
                <% projects_group.each do |project| %>
                  <div class="col-md-6 col-sm-6">
                  <%= link_to project_path(project) do %>
                    <div class="project-card px-2">
                        <%= image_tag project.photos.first, alt: project.name %>
                    <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
        </div>
      </div>
  </div>
</div>
