<div class="container-fluid flex-grow-1 d-flex mt-4 pt-5">
  <div class="row w-100">
      <div class="col-md-4 col-12 px-5 mt-3">
        <div class="description">
          <h1 class="bold">Freelance Projects</h1>
          <p>Designed and optimized 3D models and assets using Blender, Unity,
             and other software for clients in the art, music, and creative industries.</p>
        </div>
      </div>
      <div class="projects col-md-8 col-12">
        <div class="row mt-3">
          <% @projects.each_slice(3) do |graphics_group| %>
            <div class="row">
              <% graphics_group.each do |graphic| %>
                <div class="col-md-4 col-sm-6">
                <%= link_to project_path(graphic), data: { action: "click->modal#open" } do %>
                  <div class="graphics-project-card px-3">
                      <%= image_tag graphic.photos.first, alt: graphic.name %>
                  <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
      </div>
    </div>
    <div class="assets row w-100">
          <div class="col-md-4 col-12 px-5 mt-3">
            <div class="description">
              <h1 class="bold">Assets</h1>
              <p>Designed and optimized 3D models using Blender for animations, film, and project proposals.</p>
              <p>Choose a project and interact with the 3D model!</p>
            </div>
          </div>
          <div class="col-md-8 col-12">
              <div class="projects row">
                <% @assets.each_slice(3) do |assets_group| %>
                  <div class="row">
                    <% assets_group.each do |asset| %>
                      <div class="col-md-4 col-sm-6">
                      <%= link_to project_path(asset), data: { action: "click->modal#open" } do %>
                        <div class="project-card px-2">
                            <%= image_tag asset.photos.first, alt: asset.name %>
                        <% end %>
                        </div>
                      </div>
                    <% end %>
                  </div>
                <% end %>
            </div>
          </div>
      </div>
  </div>
</div>
