<div class="index-page bg-black">
  <div class="container">
    <div class="row mt-3">
      <% @projects.each_slice(4) do |project_group| %>
        <div class="row">
          <% project_group.each do |project| %>
            <div class="col-md-3 col-sm-6">
              <div class="project-card">
                <%= link_to project_path(project) do %>
                  <%= image_tag project.photos.first, alt: project.name %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
