<div class="show-page">
  <div class="back-button mt-5">
    <p><%= link_to "Back", projects_path %></p>
  </div>

  <div class="project-title text-center mb-1">
    <h5>PROFESSIONAL</h5>
  </div>

  <div class="title text-center">
      <h1><%= @project.name %></h1>
  </div>

  <div class="description  text-center mt-3">
    <p><%= @project.description %></p>
  </div>
    <%= render "projects/shared/#{@template}" %>
</div>
