<div class="back-button mt-5">
  <h2><%= link_to "Back", projects_path %></h2>
</div>

<div class="project-title text-center mb-5">
  <h2>PROFESSIONAL</h2>
  <%= render "projects/shared/#{@template}" %>
</div>
