.project-title {
  margin-top: 9% !important;
}

.back-button a {
  margin-top: 5%;
  padding-left: 8.5%;
  color: inherit;
  text-decoration: none;
}

.back-button a:hover {
  text-decoration: underline;
}

.description img {
  display: block;
  margin: 0 auto;
  max-width: 60vw !important;
}

.title {
  padding-left: 5%;
}


.index-page {
  width: 100% !important;
}

.show-page {
  width: 100%;
}

.text-left {
  padding-left: 9%;
}

// images

.club_ai {
  width: 60% !important;
  display: block;
  margin: 0 auto;
}

.gravestone {
  padding: 0 !important ;
  position: relative;
  transform: scale(1.1);
  overflow: hidden;
}

.ceramics {
  width: 90%;
  display: block;
  margin: 0 auto;
}

.club-paradiso {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.swans {
  width: 50%;
  display: block;
  margin: 0 auto;
}

.penguins {
  width: 50%;
  display: block;
  margin: 0 auto;
}


.gingko {
  width: 95%;
  display: block;
  margin: 0 auto;
}

.vjs {
  width: 90%;
  display: block;
  margin: 0 auto;
}

.video-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80vh;
  background: black;
  margin-top: 6% !important;
}

.video-container iframe {
  width: 80vw;
  height: 80vh;
}
