// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import 'layouts/sidebar';
@import 'layouts/header-footer';
@import 'layouts/textsize';
@import 'projects/show';
@import 'projects/index';
@import 'resume/show';

body, html {
  margin: 0 !important;
  padding: 0 !important;
  height: 100% !important;
}



// .index-page {
//   max-width: 80%;
// }
// application

.application-card {
  width: 100%;
  background: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding: 2% !important;
  background-color: black;
}

.application-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  opacity: 0.7;
}

.application-card img:hover {
  box-shadow: 0 0 15px rgba(0, 174, 255, 0.8);
  border: 2px solid rgb(144, 215, 248);
  opacity: 1;
}

.application-card  a {
  display: block;
  width: 100%;
  height: 100%;
}

.apps {
  margin-right: 4% !important;
}


// form
.container {
    min-width: 1000px;
    margin: auto;
}

.form-control {
  background-color: black !important;
  border: none !important;
  border-bottom: 2px solid rgb(0, 195, 255)  !important;
  border-radius: 0  !important;
  color: white;
  outline: none;
  box-shadow: none;
}
.form-control:focus {
  box-shadow: none !important;
  border-bottom: 2px solid #007bff;
}

textarea {
  resize: none;
}

.btn {
  background-color:  rgb(3, 119, 154) !important;
  border-radius: 0  !important;

}

.btn:hover {
  background-color:  rgb(0, 195, 255) !important;
}
